<div class="my-14">
    <h2 class="openSans text-2xl mb-8">About</h2>
    <p class="text-base mb-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias quasi debitis illo?
        Animi temporibus eligendi dicta harum maiores, quos itaque id possimus expedita inventore ducimus earum ipsum
        dolor? Corrupti, et! Assumenda ipsa cupiditate, quam odit eaque possimus expedita vero quae delectus commodi
        quod. Fugiat, maiores sapiente consectetur sunt nostrum tempora ex voluptas quisquam nam asperiores tenetur
        veniam quos eveniet tempore quam porro animi earum praesentium ullam? Et illum dolorem distinctio!</p>

    <div class="flex flex-wrap gap-3">
        <div *ngFor="let about of aboutobject" class="w-[287px]">
            <div class="">
                <img src={{about.imageUrl}} alt="" class="grayscale  h-[200px] w-full">
            </div>
            <h2 #name class="font-semibold text-lg my-2">{{about.name}}</h2>
            <h3  #position class="text-gray-600 mb-2">{{about.position}}</h3>
            <p class="mb-2">{{about.about}}</p>
            <button class="py-2 px-3 bg-gray-200 hover:bg-gray-400 w-full text-sm"  (click)="contacted(name, position,$event)">Contact</button>
        </div>
    </div>
    <div class="bg-indigo-900 text-center py-4 lg:px-4 mt-3" *ngIf="isSelected">
        <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
          <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">New</span>
          <span class="font-semibold mr-2 text-left flex-auto">You have selected {{name}} who is currently {{position}}</span>
          <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
        </div>
      </div>
</div>