<div class="my-18">
    <h2 class="openSans text-2xl mb-2">Contact</h2>
    <div class="h-4 border-b mb-8 border-gray-300"></div>
    <form action="" class="flex flex-col gap-3">
        <input class="px-3 py-2 border focus:outline-none focus:border-b-black" type="text" name="name" id="name" placeholder="Name">
        <input class="px-3 py-2 border focus:outline-none focus:border-b-black" type="text" name="email" id="email" placeholder="Email">
        <input class="px-3 py-2 border focus:outline-none focus:border-b-black" type="text" name="subject" id="subject" placeholder="Subject">
        <input class="px-3 py-2 border focus:outline-none focus:border-b-black" type="text" name="comment" id="comment" placeholder="Comment">
        <button class="bg-black text-white px-4 py-2 mr-auto my-6">
           SEND MESSAGE
        </button>
    </form>
    <img src="../../assets/asset 9.jpeg" alt="" class="mt-5">
</div>